 /*Modern font*/
 @font-face {
    font-family: "Computer Modern";
    src: url('fonts/cmunss.otf');
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('cmunsx_bold.otf');
    font-weight: bold;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('cmunsi.otf');
    font-style: italic, oblique;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
  }

  html {
    margin:0;
    padding:0;
    height:100%;
  }
  body {
    color: white;
    margin:0;
    padding:0;
    font-family: "Computer Modern", sans-serif;
  }

  .title {
    padding: 25px 0px 5px 0px;
  }
  h4.home {
    margin: 0;
    padding:0;
    margin-top:auto;
    margin-right:auto;
  }
  .home {
    line-height: 50px;
    background-color: #ff8533;
    color: white;
    display: block;
    height: 100%;
    text-decoration: none;
    width: 75px;
    text-align: center;
  }
  .home:hover {
    background-color: #ff6600;
  }

  .col-1 {
    background: url("../img/notes-wallpaper-side.jpg")  center;
    background-size: cover;
    width: 20%;
    height: 100%;
    float:left;
  }
  .col-2 {
    background: url("../img/notes-wallpaper.jpg") center;
    background-size: cover;
    width: 60%;
    min-width: 650px;
    float:left;
  }
  .col-3 {
    background: url("../img/notes-wallpaper-side.jpg") center;
    background-size: cover;
    width: 20%;
    float:left;
  }
  h1:first-of-type {
    margin: 0;
    text-align: center;
  }
  .nav-bar {
    background-color:#404040;
    width: 100%;
    height:50px;
  }

  .detail {
  }

  span {
    color: red;
  }

  /*Fraction*/
  span.frac {
    display: inline-block;
    font-size: 100%;
    text-align: center;
  }
  span.frac > sup {
    display: block;
    border-bottom: 1px solid;
    font: inherit;
  }
  span.frac > span {
    display: none;
  }
  span.frac > sub {
    display: block;
    font: inherit;
  }
  .display {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto ;
    color: red;
  }
  .section {
    color: #ff8533;
  }

  /* HOME PAGE */
  .header {
    background: #fff;
    padding: 20px 0;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}