
@font-face {
  font-family: "Computer Modern";
  src: url("cmunrm.woff");
  }

h1 { font-size: 2em; color: #353535; }
h2 { font-size: 1.5em; color: #353535; }
h3 { font-size: 1 em; color: #353535; }

ul { text-align: left; margin-left: 10%;}
ol { text-align: left; margin-left: 10%;}
.code { text-align: left;
        margin-left: 30%;
        margin-right: 30%;
        background-color: #e0dee8;
        padding: 16px;
        }
mark{
	 background-color: black;
}

mark:hover{
	background-color: white;
}

.content {
    font-family: "Computer Modern";
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 600;
}


.dropbtn {
    position: relative;
    background-color: #8b41a4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #704080;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    max-width: 320px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.dropdown-content p, a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}


.dropdown p:hover {background-color: #f1f1f1}
.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #bc43ba;
}