body{
    margin: auto;
    width: 800px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #275a25;
}
#pageHeader{
    margin: auto;
    background-color: #000000;
    color: #ffffff;
    border-radius: 14px;
    width: 600px;
}
table{
    border: solid;
}
td{
    border: solid;
}
p {
    text-align: left;
    padding: 15px;
}
li {
    text-align: left;
    padding: 8px;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
    padding: 10px;
}
.buttons{
    margin: auto;
    text-align: center;
}
#questionsList, #questionsList2, #questionsList3{
    background-color: #ffffff;
    margin: auto;
    width: 550px;
}
#questionsListDiv, #questionsList2Div, #questionsList3Div{
    border-top: solid;
    border-bottom: solid;
    display: none;
}
#description{
    border-top: solid;
    border-bottom: solid;
    display: none;
}
#descriptionP{
    margin: auto;
    background-color: #ffffff;
    width: 550px;
    text-align: left;
}
#instructionsDiv{
    margin-bottom: 20px;
    border-top: solid;
    border-bottom: solid;
    display: none;
}
#instructions{
    width: 550px;
    margin: auto;
    background-color: #ffffff;
}
button{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background-color: #282828;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    margin: 4px 10px;
    cursor: pointer;
}